:root {
  --primary-text-color: #757575;
  --section-title-color: #212121;
  --accent-color: #2196f3;
  --component-active-color: #188ce8;
  --primary-button-color: #ffffff;
  --secondary-button-background-color: #f5f4fa;
  --secondary-background-color: #f5f5f5;
  --logo-color: #000000;
  --hero-background-color: #2f303a;
  --footer-contact-background: rgba(255, 255, 255, 0.6);
}

body {
  color: var(--primary-text-color);
  background-color: var(--primary-button-color);
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
}

[href] {
  text-decoration: none;
}

/* стилі шапки  */
.header{
  background-color: tomato;
}


.logo-header {
  color: var(--logo-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
}

.logo-part {
  color: var(--accent-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
}

.list {
  list-style: none;
  padding: 0;
  margin: 0;

}

.site-nav .link {
  color: var(--section-title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.contacts .link {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contacts .link:hover,
.contacts .link:focus {
  color: var(--accent-color);
}
/* головна частина */

/* герой */
.hero {
  background-color: var(--hero-background-color);
}

.hero-title {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-button-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-align: center;
  text-transform: uppercase;
  background-color: blueviolet;
}

.button {
  font-family: "Roboto", sans-serif;
  cursor: pointer;
}

/* секція 1 */

.section-title {
  color: var(--section-title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
}

.section-subtitle {
  color: var(--section-title-color);
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.section-subtitle.name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-transform: capitalize;
  text-align: center;
}

.primary-button {
  color: var(--primary-button-color);
  background-color: var(--accent-color);
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 10px 24px;
  min-width: 200px;
  border: 1px solid transparent;
  margin-top: 30px;
}

.primary-button:hover,
.primary-button:focus {
  background-color: var(--component-active-color);
}

/* секція 2 */

.feature {
  font-size: 14px;
  line-height: 1.7;
}

/* секція 3 */
.our-team {
  background-color: var(--secondary-background-color);
}

.job-title {
  font-size: 16px;
  list-style: 1.19;
  text-align: center;
}

/* футер */
.footer {
  background-color: var(--hero-background-color);
}

.logo-footer {
  color: var(--primary-button-color);
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  text-align: left;
}

.footer {
  background-color: var(--hero-background-color);
}

.physical-address {
  color: var(--primary-button-color);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.footer-contact {
  color: var(--footer-contact-background);
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  text-align: left;
}

.footer-contact:hover,
.footer-contact:focus {
  color: var(--accent-color);
}

/* портфоліо */

/* головна частина */
/* секція 1 */

.secondary-button {
  color: var(--section-title-color);
  background-color: var(--secondary-button-background-color);
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  border: none;
  cursor: pointer;
  border-radius: 4px;
  padding: 6px 22px;
  border: 1px solid transparent;
}

.secondary-button:hover,
.secondary-button:focus {
  color: var(--primary-button-color);
  background-color: var(--accent-color);
}

.section-subtitle.portfolio {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-transform: capitalize;
}

.transform-except {
  text-transform: uppercase;
}

.product {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.88;
}

/* футер */

.footer-item {
  color: var(--footer-contact-background);
  font-weight: 400;
  font-size: 1.71;
}
